<a href="https://colab.research.google.com/github/timothythampy/AI/blob/master/HW/HW_J056_08_08_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
def ks (wta,ind,s,v): #sta weight allowed; ind index number; s size list; v value list
  if (wta<=0 or ind<=0):
    return 0
  elif (s[ind-1]>wta):
    return ks (wta,ind-1,s,v)
  else:
    return max(v[ind-1]+ks(wta-s[ind-1],ind-1,s,v),ks(wta,ind-1,s,v))

data = input ()
data = data.splitlines()
T=int(input())
temp = input()
temp = list(map(int, temp.split()))
n=temp[0]
m=temp[1]
s = input()
s = list(map(int, s.split()))
v = input()
v = list(map(int, v.split()))

for i in range(n-1):
  temp = input()


a = ks (m,n,s,v)
a

1
5 3
1 1 1 1 1
3 5 2 2 3
1 2
1 3
2 4
2 5

11